.img-portada--main {
  width: 100%;
  height: 32rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-portada--main::after {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 101%;
  background-color: black;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%);
}

.logo-stream--div{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.runtime--facts ::before {
  font-size: 1.1em;
  line-height: 1;
  content: '\2022';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 7px;
  display: inline-flex;
  align-content: center;
  align-items: center;
}

/* 
* skeleton movies, text and animations
*/

.movie-container--loading {
  animation:  skeleton;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.movie-container--loading:nth-child(2) {
  animation-delay: 0.2s;
}

.movie-container--loading:nth-child(3) {
  animation-delay: 0.3s;
}

.movie-container--loading:nth-child(4) {
  animation-delay: 0.3s;
}

.movie-container--loading:nth-child(5) {
  animation-delay: 0.3s;
}

@keyframes skeleton {
  0% , 100% {
    opacity: 0%;
  }
  50% {
    opacity: 60%
  }
}

/*
* transition img 
 */


.before-lazyLoading {
  opacity: 0;
  scale: 0.9;
  transition: opacity ease-in-out 0.55s , scale ease-in-out 0.55s;
}
.img-lazyTransition {
  opacity: 1;
  scale: 1;
}